.changelist-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 240px;
    background: #f8f8f8;
    border-left: none;
    margin: 0;
}
#changelist-filter {
    position: relative;
}
#changelist-sidebar .submit-row {
    padding: 0 1em;
    margin-bottom: 1em;
}
#id_list_display_select {
    margin-left: 0;
    list-style: none;
}
#id_list_display_select li {
    list-style-type: none;
}
.field-select-form > label {
    padding: 0 10px;
}
