{% extends "admin/change_list.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/fields_select.css" %}" />
{% endblock %}

{% block filters %}
    <div id="changelist-sidebar" class="changelist-sidebar">
        <h2>{{ list_display_form.list_display_select.label_tag }}</h2>
        <form method="post" class="field-select-form" action="{{ list_display_form_action_url }}">
            {% csrf_token %}
            {{ list_display_form.list_display_select }}
            <div class="submit-row">
                <input type="submit" value="{% trans "Set" %}" class="default">
                <div class="clear"></div>
            </div>
        </form>
        {{ block.super }}
    </div>
{% endblock %}
